#wrapper{
  margin: 15px;
  background-color: rgb(247, 232, 225);
  box-shadow: 5px 5px 10px 5px #000000;
  height: auto;
  min-height: 100%;
}
main{
  margin: 50px;
  height: 100%;
  font-family: sans-serif;
}
#portrait{
  float: left;
  margin-right: 15px;
  height: 30%;
  width: 20%;
}
#pricing{
  font-size: 20px;
  margin-bottom: 15px;
}
#pricing, p{
  margin:20px
}
#trailerPLans{
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 25px;
  border: 5px solid #BF92F3;
  box-shadow: 5px 5px 10px 5px #000000;
  padding-bottom: 25px;
  padding-top: 25px;
}
#p1{
  float:center;
  text-align: center;
}
#submit{
  background-color: rgb(247, 232, 225);
  width: 100px;
  height: 40px;
}
#pictureGallery{
  display:inline;
  margin: 5px;
}
body{
  background-color: #BF92F3;
}
body, html{
  height: 100%;
}
#contact{
  background-color: rgb(228, 211, 237);
  border: 3px solid #091468;
  margin-left: 25%;
  margin-right: 25%;
  text-align: left;
  box-shadow: 5px 5px 10px 5px #000000;
  border-radius: 25px;
}
table{
  border: 2px solid black;
  border-collapse: collapse;
}
table, th, td{
  border: 2px solid black;
}
iframe{
  margin-left: 20%;
  margin-right: 20%;
}
#table{
  margin-left: 20%;
  margin-right: 20%;
}
h2{
  text-align: right;
  color: #091468;
  font-size: 25px;
  border-bottom: 5px solid #091468;
}
footer{
  text-align: center;
  font-size: small;
  margin-bottom: 15px;
}
header.pageTop{
  text-align: right;
  font-size: 30px;
  color: #091468;
  border-bottom: 5px solid #091468;
}
nav{
border-bottom: 5px solid #091468;
text-align: center;
font-size: 25px;
}
nav a{
  color: #091468;
  text-decoration: none;
}
nav a:hover{
  color: #8E4DBD;
}
h1{
  padding-right: 10px;
}
#pricingTool{

 
  background-color: rgb(228, 211, 237);
  border: 3px solid #091468;
  margin-left: 25%;
  margin-right: 25%;
  box-shadow: 5px 5px 10px 5px #000000;
  border-radius: 25px;
  padding-right: 40px;
  text-align: left;
  padding-bottom: 20px;
}
fieldset{
  border-style: hidden;
}
#pictureGallery img:hover{
  opacity: .8;
  transform: rotate(-5deg);
}
